In [1]:
import pandas as pd 
df = pd.read_csv('supply_chain_data.csv')  
df.head()

,Order_ID,Product_ID,Product_Name,Region,Order_Date,Expected_Time,Delivery_Time,Cost
0,1001,P001,Laptop,North,2024-01-15,3,4,45000
1,1002,P002,Mouse,South,2024-01-17,2,2,800
2,1003,P001,Laptop,East,2024-01-20,4,6,46000
3,1004,P003,Keyboard,West,2024-01-21,3,2,1200
4,1005,P004,Monitor,North,2024-01-25,5,7,15000

In [3]:
df.shape

(6, 8)

In [4]:
df.columns

Index(['Order_ID', 'Product_ID', 'Product_Name', 'Region', 'Order_Date',
       'Expected_Time', 'Delivery_Time', 'Cost'],
      dtype='object')

In [5]:
df.dtypes

Order_ID          int64
Product_ID       object
Product_Name     object
Region           object
Order_Date       object
Expected_Time     int64
Delivery_Time     int64
Cost              int64
dtype: object

In [6]:
df.isnull().sum()

Order_ID         0
Product_ID       0
Product_Name     0
Region           0
Order_Date       0
Expected_Time    0
Delivery_Time    0
Cost             0
dtype: int64

In [8]:
df.dropna(inplace = True)

In [11]:
df.rename(columns={'Region': 'Product_region'}, inplace=True)

In [14]:
df.head()

,Order_ID,Product_ID,Product_Name,Product_region,Order_Date,Expected_Time,Delivery_Time,Cost,Delayed
0,1001,P001,Laptop,North,2024-01-15,3,4,45000,True
1,1002,P002,Mouse,South,2024-01-17,2,2,800,False
2,1003,P001,Laptop,East,2024-01-20,4,6,46000,True
3,1004,P003,Keyboard,West,2024-01-21,3,2,1200,False
4,1005,P004,Monitor,North,2024-01-25,5,7,15000,True

In [13]:
df['Delayed'] = df['Delivery_Time'] > df['Expected_Time']

In [19]:
region_group = df.groupby('Product_region')['Delivery_Time'].mean()
print(region_group)

Product_region
East     6.0
North    5.5
South    2.5
West     2.0
Name: Delivery_Time, dtype: float64

In [20]:
summary = df.groupby('Product_region').agg(
    Total_Orders=('Order_ID', 'count'),
    Delayed_Orders=('Delayed', 'sum')
)
summary['Delay_%'] = (summary['Delayed_Orders'] / summary['Total_Orders']) * 100
print(summary)

                Total_Orders  Delayed_Orders  Delay_%
Product_region
East                       1               1    100.0
North                      2               2    100.0
South                      2               1     50.0
West                       1               0      0.0

In [22]:
df.to_csv('cleaned_supply_chain.csv', index= False)

In [23]:
print('Cleaned data saved!Ready to visualize.')

Cleaned data saved!Ready to visualize.